<!DOCTYPE html>
<html>
    <head>
        <title>LoanMe</title>
            
            <link type="text/css" rel="stylesheet" href="mystyle.css">
            <link  href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
            <link  href="lib/bootstrap/fonts/glyphicons-halflings-regular.eot" rel="stylesheet">
            
            
    </head>
    <body ng-app="mymodal">

        {{{ body }}}
        
    </body>
        <script src="app.js"></script>
        <script type="text/javascript" src="assets/js/bootstrap.js"></script>
</html>