<!DOCTYPE html>
<html>
    <head>
        <title>LoanMe</title>
            
            <link type="text/css" rel="stylesheet" href="mystyle.css">
            <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css">
            <link rel="stylesheet" href="lib/bootstrap/fonts/glyphicons-halflings-regular.eot">
            <script src="app.js"></script>
    </head>
    <body>
        <div class ="main">
         <p class="text-primary">LoanMe</p>
            <div id="form">
                 <form class="navbar-form" role="search">
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Search">
                    </div>
                </form>
            </div>
            <div id="button">
                <a href="login.html" class="btn btn-primary btn-lg">LogIn</a>                
                <a href="SignUp.html" class="btn btn-primary btn-lg">SignUp</a>
               
            </div>
        </div>
    </body>
</html>