<!DOCTYPE html>
<html lang="en">
    <head> 
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap.css">

		<!-- Website CSS style -->
		<link rel="stylesheet" type="text/css" href="mystyle.css">

		

		<title>LoanMe</title>
	</head>
	<body>
		<div class="container">
			<div class="row main">
                
				<div class="panel-heading">
	               <div class="panel-title text-center">
	               		<h1 class="title">LoanMe</h1>
	               	</div>
	            </div> 
                
				<div class="main-login main-center">
					<form class="form-horizontal" method="post" action="#">
						
						<div class="form-group">
							<label for="First name" class="cols-sm-2 control-label">Name</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
									<input type="text" class="form-control" name="name" id="name"  placeholder="First Name Last Name"/>
								</div>
							</div>
						</div>
                        
                        <div class="form-group">
							<label for="Institution name" class="cols-sm-2 control-label">Your Institution Name</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
									<input type="text" class="form-control" name="insname" id="insname"  placeholder="Enter your Institution Name"/>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="Institution email" class="cols-sm-2 control-label">Your Institution Email</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
									<input type="text" class="form-control" name="email" id="email"  placeholder="Enter your Institution Email"/>
								</div>
							</div>
						</div>
                        
                        <div class="form-group">
							<label for="phone_number" class="cols-sm-2 control-label">Phone Number</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
									<input type="number" class="form-control" name="phone_number" id="phone_number"  placeholder="Enter your Phone Number"/>
								</div>
							</div>
						</div>
                    
                        <div class="form-group">
							<label for="id_number" class="cols-sm-2 control-label">Institution ID Number</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
									<input type="number" class="form-control" name="id_number" id="id_number"  placeholder="Enter your Institution ID Number"/>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="username" class="cols-sm-2 control-label">Username</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
									<input type="text" class="form-control" name="username" id="username"  placeholder="Enter your Username"/>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="password" class="cols-sm-2 control-label">Password</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
									<input type="password" class="form-control" name="password" id="password"  placeholder="Enter your Password"/>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="confirm" class="cols-sm-2 control-label">Confirm Password</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
									<input type="password" class="form-control" name="confirm" id="confirm"  placeholder="Confirm your Password"/>
								</div>
							</div>
						</div>

						<div class="form-group ">
							<button type="button" class="btn btn-primary btn-lg btn-block login-button">Register</button>
						</div>
						<div>
                            <button type="button">
                                <a href="login.html">Login</a>
                            </button>
				         </div>
                        <div>
                             <button type="button">
                                <a href="index.html">Back</a>  
                            </button>
                        </div>
					</form>
                    
				</div>
			</div>
		</div>
        
        

		<script type="text/javascript" src="assets/js/bootstrap.js"></script>
	</body>
</html>