

        <div class ="main">
         <p class="text-primary">LoanMe</p>
            <div id="form">
                 <form class="navbar-form" role="search">
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Search">
                    </div>
                </form>
            </div>
            <div id="button">
                <a href="login.html" class="btn btn-primary btn-lg">LogIn</a>                
                <a href="SignUp.html" class="btn btn-primary btn-lg">SignUp</a>
               
            </div>
        </div>

